@model HillbillyMatch.Models.FriendIncludeCategoryViewModel


<h2>Favorite</h2>
<ul>
    @foreach (var item in Model.FavoriteFriends)
    {
        <li href="#" class="list-group-item text-left">
            @{
                var imgSrc = "";
                if (item.Image != null)
                {
                    var base64 = Convert.ToBase64String(item.Image);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                else
                {
                    imgSrc = "/Content/Images/noimage.jpg";
                }
                <img class="img-thumbnail" src="@imgSrc" alt="No image" width="75" height="75" style="border-radius: 50px;" />
            }
            <label class="name">
                @Html.ActionLink(item.Name, "UserProfile", "Profile", new { id = item.UserId }, null)
            </label>
            <label class="pull-right" style="margin-top: 15px;">
                <a class="btn btn-success btn-xs glyphicon glyphicon-star favoriteTag" href="#" title="Star" style="padding: 9px 14px 11px;" data-post-id="@item.FriendId"></a>
                <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash deleteFriend" href="#" title="Delete" style="padding: 9px 14px 11px;" data-post-id="@item.FriendId"></a>
            </label>
        </li>
                    }
</ul>
<hr />

<h2>Standard</h2>

<ul>
    @foreach (var item in Model.StandardFriends)
    {
        <li href="#" class="list-group-item text-left">
            @{
                var imgSrc = "";
                if (item.Image != null)
                {
                    var base64 = Convert.ToBase64String(item.Image);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                else
                {
                    imgSrc = "/Content/Images/noimage.jpg";
                }
                <img class="img-thumbnail" src="@imgSrc" alt="No image" width="75" height="75" style="border-radius: 50px;" />
            }
            <label class="name">
                @Html.ActionLink(item.Name, "UserProfile", "Profile", new { id = item.UserId }, null)
            </label>
            <label class="pull-right" style="margin-top: 15px;">
                <a class="btn btn-success btn-xs glyphicon glyphicon-star-empty favoriteTag" href="#" title="Star" style="padding: 9px 14px 11px;" data-post-id="@item.FriendId"></a>
                <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash deleteFriend" href="#" title="Delete" style="padding: 9px 14px 11px;" data-post-id="@item.FriendId"></a>
            </label>
        </li>
                }
</ul>


<style>
    .list-content {
        min-height: 300px;
    }

        .list-content .list-group .title {
            background: #5bc0de;
            border: 2px solid #DDDDDD;
            font-weight: bold;
            color: #FFFFFF;
        }

    .list-group-item img {
        height: 80px;
        width: 80px;
    }

    .jumbotron .btn {
        padding: 5px 5px !important;
        font-size: 12px !important;
    }

    .prj-name {
        color: #5bc0de;
    }

    .break {
        width: 100%;
        margin: 20px;
    }

    .name {
        color: #5bc0de;
    }

    .pull-right {
        margin-right: 20px;
    }

    .btn {
        padding: 5px 7px;
        border-radius: 5px;
    }
</style>
