@model HillbillyMatch.Models.MyProfileViewModel

@{
    ViewBag.Title = "Index";
}

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
<script>
    var userId = "@Model.CurrentUser.Id"
</script>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <header class="header">
                <div class="profile-img">
                    @{
                        var imgSrc = "";
                        if (Model.ProfilpageImage != null)
                        {
                            var base64 = Convert.ToBase64String(Model.ProfilpageImage);
                            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        else
                        {
                            imgSrc = "/Content/Images/noimage.jpg";
                        }
                        <img class="img-responsive" src="@imgSrc" alt="No image" width="280" height="280"/>
                    }
                </div>
                <div class="content left-content">
                    <h2>@Model.Firstname @Model.Lastname</h2>

                    <div class="about-text">
                        @{
                            if (Model.Description != null)
                            {
                                <p>@Model.Description</p>
                            }
                            else
                            {
                                <p>
                                </p>
                            }

                        }
                    </div>
                    <hr />
                </div>
                <div class="editContent left-content">
                    <ul>
                        <li style="display: block;">@Html.ActionLink(@HillbillyMatch.International.AppResources.Edit, "Edit")</li>
                        <li style="display: block;">@Html.ActionLink(@HillbillyMatch.International.AppResources.ChangePassword, "ChangePassword", "Manage")</li>
                        <li style="display: block;">@Html.ActionLink(@HillbillyMatch.International.AppResources.ExportToXml, "Serialize", null, new { target = "_blank" })</li>
                    </ul>
                </div>
                <hr />
                <div class="latestVisitors left-content">
                    <h4>@HillbillyMatch.International.AppResources.LatestVisitors:</h4>
                    <ol style="margin-left: 20px;" class="visitorList">

                    </ol>
                </div>

            </header>
            <!-- .header-->
        </div>
        <!-- .left-col-block -->


        <div class="col-md-8">
            
            <div>
                <ul class="nav nav-tabs">
                    <li>
                        @Ajax.ActionLink(HillbillyMatch.International.AppResources.Wall, "WallPage", new { id = Model.CurrentUser.Id} ,
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "GET",
                                                UpdateTargetId = "updateDiv",
                                                InsertionMode = InsertionMode.Replace
                                            })</li>
                    <li>@Ajax.ActionLink(HillbillyMatch.International.AppResources.Friends, "MyFriends",
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "GET",
                                                UpdateTargetId = "updateDiv",
                                                InsertionMode = InsertionMode.Replace
                                            })</li>
                    <li>@Ajax.ActionLink(HillbillyMatch.International.AppResources.Requests, "MyFriendRequests",
                                            new AjaxOptions()
                                            {
                                                HttpMethod = "GET",
                                                UpdateTargetId = "updateDiv",
                                                InsertionMode = InsertionMode.Replace
                                            })</li>
                </ul>
            </div>

        <div id="updateDiv">
            @Html.Partial("_Posts", Model.Posts)
        </div>

        </div>
        <!-- .right-col-block -->
    </div>
    <!-- .columns-block -->
</div>

@section scripts {
<script src="~/Scripts/notify/notify.min.js"></script>
<script src="~/Scripts/profile/profile-visitors.js"></script>
<script src="~/Scripts/profile/profile-friends.js"></script>
<script src="~/Scripts/profile/profile-post.js"></script>
}

@section styles {
<link href="~/Content/profilepage-post-style.css/profilpage-post.css" rel="stylesheet" />
<link href="~/Content/profilepage-post-style.css/posts-style.css" rel="stylesheet" />
<link href="~/Content/profilepage-post-style.css/post-modal.css" rel="stylesheet" />
}

<style>
    .left-content {
        margin-bottom: 25px;
    }
</style>